/* Add your global styles here if needed */

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.App-header h1 {
  margin-bottom: 20px;
}

a {
 
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ol {
  list-style-type: none;
  padding: 0;
}

h2 {
  color: #61dafb;
  margin-bottom: 10px;
}

h4 {
  font-size: 2rem;
  margin-bottom: 5px;
}

p {
  font-size: 1.4rem;
  color: coral;
  margin-bottom: 5px;
}

img {
  max-width: 100%;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  margin-bottom: 10px;
}
